<!DOCTYPE html>
<html lang="en">
<%- include('./layout/header.ejs', {title: 'keranjang' }); %>

    <body style="padding: 20px;">
        <%- include('./layout/navbar.ejs', {activeProduk: '' , activeAbout: '', activeKeranjang: 'active' }); %>
            <h1 style="padding-top: 50px;">List Keranjang</h1>
            <% data.forEach((item, index)=>{ %>
                <div class="card" style="width: 250px; display: inline-block; margin-right: 20px; margin-top: 20px;">
                    <img src="<%= item.images %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.namaProduk%>
                        </h5>
                        <p class="card-text">Harga : <%= item.harga%>
                        </p>
                        <p class="card-text">jumlah barang : <%= index%>
                        </p>
                        <a href="/customers/keranjang/detele/<%= item.id %>" class="btn btn-primary">delete</a>
                    </div>
                </div>
                <% }) %>
                <a href="/customers/order" class="btn btn-primary">order</a>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                        crossorigin="anonymous"></script>
    </body>

</html>